@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --block-padding: 16px 24px;
  --block-width: initial;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 461px) {
  :root {
    --block-padding: 24px 32px;
  }
}

@media (min-width: 741px) {
  :root {
    --block-width: 50%;
  }
}

header {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  width: var(--block-width);
  padding: var(--block-padding);
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  width: var(--block-width);
  padding: var(--block-padding);
  background-color: rgb(245, 245, 247);
}

@media (min-width: 741px) {
  main {
    position: fixed;
    top: 0;
    right: calc(-1 * (100vw - 100%));
    height: 100vh;
    overflow-y: scroll;
  }
}

article {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  width: var(--block-width);
  padding: var(--block-padding);
}

@media (min-width: 741px) {
  article {
    padding-top: 0;
  }
}
